h1{
    	font-family: 
	color: #CC3333;
	background-color: #F6CED8;
	font-size: 65px;
	text-align: center;	
}


td{

	width: 500px;
	height: 50px;
	text-align: right;
        border-raduis: 50px;
	border-color: rgb(0,0,0);
}


table{
	display: inline;
	float: right;
	border-color: rgb(0,0,0);
	font-family: font;
}



