@font-face {
    font-family: font;
    src: url(champagne.ttf);
}

h1{
    	font-family: font;
	color: #CC3333;
	background-color:none;
	font-size: 65px;
	text-align: center;	
}


td{

	width: 500px;
	height: 50px;
	text-align: right;
	border-color: rgb(0,0,0);


	border-color: rgb(0,0,0);

	border-color: rgb(0,0,0);


        border-raduis: 50px;
	border-color: rgb(0,0,0);


}
table {
	display: inline;
	float: right;
	border-color: rgb(0,0,0);
	font-family: font;
	font-color:gray;
}


