
#right{
    position: fixed;
    right: 200px;
}
h1{
	color: #CC3333;
	font-size: 65px;
	font-family: "Times New Roman";
	background-color: #F6CED8;
	text-align: center;
        border-raduis: 50px;
}

td{
	wight: 500px;
	hight: 500px;
}
 


